.cr-bar {
    position: relative;
    height: 0px;
    width: calc(100% - 26px);
    display: flex;
    justify-content: space-between;
    margin: 0px 13px;
}

.cr-container {
    flex: 1 1;
    display: flex;
}

.cr-content {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.cr-left {
    justify-content: flex-start;
}

.cr-right {
    justify-content: flex-end;
}

.cr-card {
    position: absolute;
    height: 100%;
    width: auto;
}

.cr-card-text {
    top: 24px;
    position: absolute;
    color: var(--green);
}

.cr-card-text p {
    text-align: center;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.cr-card-text .cr-card-cr {
    font-size: 25px;
    line-height: 25px;
}

.cr-card-text .cr-card-xp {
    padding-top: 4px;
    font-size: 17px;
    line-height: 17px;
}
