.creature-block {
	  height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.creature-block .creature {
  	width: 100%;
  	height: 100%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.creature-block .creature .creature-image {
    width: 70%;
    height: auto;
}

.creature-size-container {
    width: 100%;
    height: 100%;
}
