.side-stats {
	width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.add-stat {
	border-radius: 50%;
	background-color: var(--stark-white-transparent);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--m-s-2);
    position: relative;
    z-index: 600;
}

.stat-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    pointer-events: none;
    margin: 139px 25px 0px -19px;
    height: calc(var(--card-top-height) - 10px - 135px);
}

.stat-selector {
    pointer-events: all;
    position: relative;
    margin-top: 15px;
    cursor: pointer;
}

.stat-selector.stat-selector-no-display {
    display: none;
}

.add-stat+.iconlist {
    position: absolute;
    min-width: 160px;
    min-height: 10px;
    max-height: 200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: rgba(51, 51, 51, 0.5);
    top: 20px;
    box-shadow: var(--m-s-3);
    border: var(--border-size) solid var(--stark-white-transparent);
    border-radius: 10px;
    z-index: 600;
}

.left-stat-wrapper .add-stat+.iconlist { left: 150%; }
.right-stat-wrapper .add-stat+.iconlist { right: 150%; }

.iconlist .icon-select-icon-block:hover .icon-select-title {
    padding-left: 15px;
}


.iconlist .icon-select-title {
    -webkit-filter: blur(0.000001px);
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: var(--black);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    padding: 7px 10px;
    background-color: var(--stark-white-transparent);
    cursor: pointer;
    margin: 6px 0px;
    transition:  var(--base-transition);
    transition-property: padding-left;
}

.iconlist .icon-select-icon-block:first-child .icon-select-title {
    margin-top: 12px
}

.iconlist .icon-select-icon-block:last-child .icon-select-title {
    margin-bottom: 12px
}

.iconlist .icon-select-icon {
    max-height: 60px;
    width: auto;
}

/* Icons that are active in the left bar and already chosen. */
.icon-select-icon-block-active {
    pointer-events: all;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -3px;
}

.icon-select-icon-block-active:hover .remove-icon {
    opacity: 1;
    pointer-events: all;
    right: -27px;
    cursor: pointer;
}

.icon-select-icon-block-active .remove-icon {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffffffdd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    right: -45px;
    top: 28px;
    transition:  var(--base-transition);
    transition-property: opacity, right;
}

.icon-select-icon-block-active .icon-select-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: var(--black);
    text-transform: uppercase;
    font-size: 27px;
    line-height: 27px;
    margin: 0;
    margin-bottom: -11px;
}

.icon-select-icon-block-active .icon-select-icon {
    max-height: 115px;
    width: auto;
}

.icon-select-icon-block-active .icon-select-detail-text {
    background-color: var(--white);
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: var(--black);
    font-size: 17px;
    line-height: 16px;
    margin: 0;
    position: absolute;
    bottom: 20px;
    padding: 2px;
    letter-spacing: 2;
    border: 3px solid var(--black);
}

.icon-select-icon-block-active .icon-select-val {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 500;
    color: var(--red);
    margin: 0px;
    position: absolute;
    bottom: 43px;
    display: inline-block;
}

/* Styles for the actions. */
.icon-select-icon-block-active.action {
    margin-top: -32px;
}

.icon-select-icon-block-active.action .icon-select-icon {
    max-height: 150px;
}

.icon-select-icon-block-active.action .icon-select-val {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 26px;
    line-height: 26px;
    border: var(--border-size) solid var(--black);
    background-color: var(--white);
    padding: 1px 2px 3px 4px;
    position: relative;
}

/* Styles for the Damages */
.icon-select-icon-block-active.damage {
    margin-top: -11px;
    margin-bottom: 8px;
}

.icon-select-icon-block-active.damage .icon-select-icon {
    max-height: 125px
}

.icon-select-icon-block-active.damage .icon-select-val {
    position: absolute;
    top: 39px;
    left: 38px;
    height: 50px;
    display: inline-block;
}

.icon-select-icon-block-active.damage .icon-select-title {
    position: relative;
    top: -7px;
}

.icon-select-icon-block-active .avg-rolled-container {
    display: flex;
    position: relative;
    left: 0;
    border: 3px solid var(--black);
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: var(--black);
    font-size: 17px;
    line-height: 16px;
    margin: 0;
    padding: 2px;
    letter-spacing: 2;
    margin-top: 7px;
}

.icon-select-icon-block-active .avg-rolled-container .icon-select-dmg.avg {
    top: calc(50% - 20px);
    left: -25px;
    margin: 0px;
    height: 33px;
    position: absolute;
    width: 33px;
    background-color: var(--white);
    border-radius: 50px;
    border: 3px solid var(--black);
    display: flex;
    justify-content: center;
    padding-left: 2px;
    padding-bottom: 2px;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 34px;
    line-height: 34px;
    font-weight: 500;
    color: var(--red);
}

.icon-select-icon-block-active .avg-rolled-container .icon-select-dmg.rolled {
    margin: 0px;
    padding-left: 17px;
    padding-right: 5px;
}

.right-stat-wrapper .icon-select-icon-block-active {
    padding: 1px 0px;
}

.right-stat-wrapper .icon-select-icon-block-active {
    padding: 2px 0px;
}

