.side-stats {
	width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.add-stat {
	border-radius: 50%;
	background-color: #fff;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-wrapper {
    pointer-events: none;
    margin-top: -10px;
	height: var(--card-top-height);
}

.stat-selector {
    pointer-events: all;
}

.add-stat+.iconlist {
	min-width: 100px;
	min-height: 10px;  
    display: flex;
    padding: 10px 40px;
    background-color: rgba(51, 51, 51, 0.5);
    border-radius: 500px;
}

.iconlist .icon-select-icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconlist .icon-select-title {
    margin: 0;
}

.iconlist .icon-select-icon {
    max-height: 50px;
    width: auto;
}