.side-stats {
	width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.add-stat {
	border-radius: 50%;
	background-color: #fff;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-wrapper {
    pointer-events: none;
    margin-top: -10px;
	height: var(--card-top-height);
}

.stat-selector {
    pointer-events: all;
}

.add-stat+.iconlist {
	background-color: white;
	min-width: 100px;
	min-height: 10px;
}