:root {

  /* Variables */
  --border-size: 4px;

  /* Colors */
  --black: #3b3933;
  --white: #eee5cb;
  --red: #991b22;
  --green: #469c90;

  /* Material Shadows */


  /* Academic theme variables*/


}