:root {

  /* Variables */
  --border-size: 4px;
  --standard-size: 800px;
  --card-top-height: calc(var(--standard-size) * 0.90875);

  /* Colors */
  --black: #3b3933;
  --white: #eee5cb;
  --red: #991b22;
  --green: #469c90;

  /* Material Shadows */


  /* Academic theme variables*/


}